{% extends 'base.html' %}

{% block content %}
<style>
    /* Gaya CSS untuk latar belakang */
    body {
        background-color: #332f2f;
    }
    /* Gaya CSS untuk teks */
    h2, p, td, div{
        color: #ffffff;
    }
    h1{
        color: #cf1a1a;
    }
    .white-text {
    color: #fff; /* Ubah warna teks tombol menjadi putih */
    }
    /* Gaya CSS untuk navigation bar */
    .navbar {
        background-color: #201f1f;
        color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
    }
    .navbar a {
        text-decoration: none;
        color: #fff;
        margin: 0 10px;
    }
</style>

<div class = "login">

    <div class="navbar">
        <div class="navbar-left">
            <h1>BeSeller Account</h1>
        </div>
    </div>

    <p>Masuk ke BeSeller Account Anda</p>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn white-text" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a>

</div>

{% endblock content %}