{% extends 'base.html' %}

{% block content %}
    <style>
        /* Gaya CSS untuk latar belakang */
        body {
            background-color: #332f2f;
        }
        /* Gaya CSS untuk teks */
        h5, p {
            color: #000000;
        }
        h1{
            color: #cf1a1a;
        }
        /* Warna latar belakang header kartu */
        .card {
            background-color: #ffffff;
            margin: 10px;
            padding: 10px;
            border: 1px solid #cf1a1a;
            border-radius: 5px;
            width: 300px;
        }
        /* Gaya CSS untuk container card */
        .card-container {
            display: flex; /* Menggunakan flexbox */
            flex-wrap: wrap; /* Untuk memungkinkan wrap jika terlalu banyak card */
            gap: 10px; /* Jarak antar card */
        }
        /* Gaya CSS untuk navigation bar */
        .navbar {
            background-color: #201f1f;
            color: #fff;
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
        }
        .navbar a {
            text-decoration: none;
            color: #fff;
            margin: 0 10px;
        }
        .profile-dropdown {
            position: relative;
            display: inline-block;
        }
        .profile-dropdown-content {
            display: none;
            position: absolute;
            background-color: #473939;
            min-width: 160px;
            z-index: 1;
        }
        .profile-dropdown:hover .profile-dropdown-content {
            display: block;
        }
    </style>

    <div class="navbar">
        <div>
            <h1>Product Inventory</h1>
        </div>
        <div>
            <div class="profile-dropdown">
                <a href="#">
                    Hi, {{ name }}!
                </a>
                <div class="profile-dropdown-content">
                    <a href="{% url 'main:logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>
        
        <div id="item_card" class="card-container">
            {% for item in items %}
                <div class="card">
                    <div class="item-navbar"></div>
                    <h3>{{item.name}}</h3>
                    <p>Amount: {{item.amount}}</p>
                    <p>Description: {{item.description}}</p>
                    <p>Price: {{item.price}}</p>
                    <div class="card-buttons">
                        <a>
                            <button type="button" class="btn btn-primary" id="openModalButton" onclick="window.location.href='edit-item/{{ item.id }}'">Edit</button>
                        </a>
                        <a>
                            <button type="button" class="btn btn-danger" id="openModalButton" onclick="window.location.href='delete/{{ item.id }}'">Delete</button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
            
        <br /><a href="{% url 'main:create_item' %}">
            <button>
                Add New Item
            </button>
        </a>

        <button type="button" class="btn btn-primary" id="openModalButton" onclick="window.location.href='create-item'">Add New Item</button>

        <h5>Sesi terakhir login: {{ last_login }}</h5>
     
        <script>
            async function getItems() {
                return fetch("{% url 'main:get_item_json' %}").then((res) => res.json())
            }

            function addItem() {
                fetch("{% url 'main:add_item_ajax' %}", {
                    method: "POST",
                    body: new FormData(document.querySelector('#form'))
                })

                document.getElementById("form").reset()
                return false
            }

            document.getElementById("button_add").onclick = addItem
        </script>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="amount class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="col-form-label">Price:</label>
                        <input type="number" class="form-control" id="price" name="price"></input>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Item</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}